[DEFAULT]
ConnectionType=initiator
BeginString=FIX.4.4
SenderCompID=ZBA_CLIENT
TargetCompID=EXCHANGE
HeartBtInt=30
ReconnectInterval=5

SocketConnectHost=fix-gw.exchange.local
SocketConnectPort=9876
SocketNodelay=Y

FileStorePath=/var/lib/zba/fix-store
PersistMessages=Y
ResetOnLogon=N
RefreshOnLogon=Y

ValidateLengthAndChecksum=Y
ValidateFieldsOutOfOrder=Y

# QuickFIX SSL settings live in DEFAULT
ClientCertificateFile=/etc/zba/tls/client.crt
ClientCertificateKeyFile=/etc/zba/tls/client.key
CertificationAuthoritiesFile=/etc/zba/tls/ca.crt
SSLProtocol=TLSv1_2
SSLCipherSuite=HIGH:!aNULL:!MD5
VerifyLevel=1
